DATABASE_URL="postgresql://yourLogin:yourPassword@localhost:5432/nameDB?schema=public"
SMTP_HOST="hostName"
SMTP_PORT=587
SMTP_EMAIL="yourEmail"
SMTP_PASSWORD="yourPassword"
URL_WORLD_CUP_2026="exampleURL"
GEMINI_API_KEY="yourApiKey"
PROMPT_GEMINI="prompt example"