DATABASE_URL="postgresql://yourLogin:yourPassword@localhost:5432/nameDB?schema=public"
SMTP_HOST="hostName"
SMTP_PORT=587
SMTP_EMAIL="yourEmail"
SMTP_PASSWORD="yourPassword"
GEMINI_API_KEY="yourApiKey"